.container
  .switch__container
    span.switch__text.switch__text--before Normal View
    span.switch__text.switch__text--after Zoom View
    input#switcher.switch(type="checkbox")
    label(for='switcher')
  
.container
  .floor-plans
    .floor-plans__inner
      .floor-plan
        span.arrow >
        img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/54887/floor-plan-bottom.png", alt="")
      .floor-plan
        span.arrow.arrow--right <
        img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/54887/floor-plan-top.png", alt="")
        
br
br
br
br
br
br
br
br

p hello